h1 {
	font: 24px "Arial", sans-serif;
	margin: 20px 15px 0 12px;
}

.producer {
	color: #444;
	font: 11px "Arial", sans-serif;
	margin: 2px 15px 0 12px;
}

section {
	margin: 23px 15px 0 12px;
}

section h2 {
	color: #222;
	font: bold 16px "Arial", sans-serif;
}

section.briefly {
	margin: 15px 15px 0 12px;
}

.photo {
	display: none;
}

.photo img {
	height: auto;
	width: 100%;
}

.description {
	color: #222;
	font: 12px "Arial", sans-serif;
}

.options ul,
.generics ul {
	list-style: none;
	margin-top: 10px;
}

.options li,
.generics li {
	font: 13px "Arial", sans-serif;
	margin: 4px 0;
}

.generics li a {
	color: #15C;
	text-decoration: none;
}

.options .price,
.generics .price {
	border-radius: 3px;
	color: white;
	display: inline-block;
	font-size: 80%;
	margin-left: 2px;
	padding: 3px 6px;
	vertical-align: middle;
}

.options .price {
	background: #f8f8f8;
	border: 1px solid #28A6FF;
	color: black;
	padding: 2px 5px;
}

.generics .price.cheap {
	background: #03D000;
}

.generics .price.acceptable {
	background: #FF9900;
}

.generics .price.pricey {
	background: #FF4700;
}

.generics .price.overpriced {
	background: #D60000;
}

@media (min-width: 480px) {
	h1 {
		font-size: 28px;
		margin: 20px 18px 0 15px;
	}

	.producer {
		margin: 2px 18px 0 15px;
	}

	section {
		margin: 26px 18px 0 15px;
	}

	section.briefly {
		margin: 15px 18px 0 15px;
	}

	section.briefly:after {
		clear: both;
		content: '';
		display: block;
	}

	.photo {
		display: block;
		float: left;
		margin: 0 15px 5px 0px;
		max-width: 180px;
		width: 30%;
	}

	.description {
		max-width: 735px;
	}
}

@media (min-width: 666px) {
	.items-cols {
		margin: 26px 0 0 15px;
		width: 90%;
	}

	.items-cols:after {
		clear: both;
		content: '';
		display: block;
	}

	.items-cols section {
		box-sizing: border-box;
		float: left;
		margin: 0;
		padding-right: 5%;
	}

	.items-cols section.options {
		width: 60%;
	}

	.items-cols section.generics {
		width: 40%;
	}
}

@media (min-width: 1004px) {
	h1 {
		font-size: 36px;
		margin: 45px 70px 0 98px;
	}

	.producer {
		font-size: 13px;
		margin: 2px 0 0 98px;
	}
}