.status {
	color: #555;
	font: 10px sans-serif;
	margin: 7px 15px 0 12px;
}

.results {
	margin: 20px 15px 20px 12px;
}

.results .item:after {
	clear: both;
	content: '';
	display: block;
}

.results h2 {
	font: normal 22px "Arial", sans-serif;
}

.results h2 a {
	color: black;
	text-decoration: none;
}

.results h2 a:hover {
	text-decoration: underline;
}

.results h2 .price {
	border-radius: 3px;
	color: white;
	display: inline-block;
	font-size: 75%;
	margin-bottom: 2px;
	margin-left: 2px;
	padding: 5px 9px;
	vertical-align: middle;
}

.results h2 .price.acceptable {
	background: #FF9900;
}

.results .producer {
	color: #444;
	font: 11px sans-serif;
}

.results .description {
	color: #222;
	font-family: sans-serif;
	font-size: 12px;
	margin-top: 11px;
}

.results .description p {
	margin-top: 5px;
}

.results .description p:first-child {
	margin-top: 0;
}

.results .description a {
	color: #15C;
	text-decoration: none;
}

.results .description a:hover {
	text-decoration: underline;
}

.results .description a.more {
	font-size: 90%;
}

.results button.details {
	background: #007EFF;
	color: white;
	cursor: pointer;
	font-size: 12px;
	margin-top: 16px;
	padding: 8px 17px;
	transition: background 0.2s;
}

.results button.details:hover {
	background: #006EDE;
}

.results .photo {
	display: none;
}

.results .photo img {
	height: auto;
	width: 100%;
}

.results .generics {
	display: none;
	float: left;
	margin: 7px 0 0 25px;
}

.results .generics h3 {
	color: #2C4448;
	font: normal 16px "Arial", sans-serif;
}

.results .generics ul {
	list-style: none;
	margin-top: 12px;
}

.results .generics li {
	font: 14px sans-serif;
	margin: 7px 0;
}

.results .generics a {
	color: #15C;
	text-decoration: none;
}

.results .generics a:hover {
	text-decoration: underline;
}

.results .generics .price {
	border-radius: 3px;
	color: white;
	display: inline-block;
	font-size: 80%;
	margin-left: 2px;
	padding: 3px 6px;
	vertical-align: middle;
}

.results .generics .price.cheap {
	background: #03D000;
}

.results .generics .price.acceptable {
	background: #FF9900;
}

.results .generics .price.pricey {
	background: #FF4700;
}

.results .generics .price.overpriced {
	background: #D60000;
}

.results .about .generics {
	display: block;
	float: none;
	margin: 23px 0 0;
}

.results .about .generics h3 {
	color: #222;
	font: bold 16px "Arial", sans-serif;
}

.results .about .generics ul {
	margin-top: 10px;
}

.results .about .generics li {
	font-size: 13px;
	margin: 4px 0;
}

@media (min-width: 480px) {
	.status {
		margin: 7px 18px 0 calc(30% + 5px);
	}

	.results {
		margin: 24px 18px 20px 15px;
	}

	.results .photo {
		display: block;
		float: left;
		width: 28%;
	}

	.results .about {
		float: left;
		margin-left: 2%;
		width: 70%;
	}
}

@media (min-width: 666px) {
	.status {
		margin-left: 211px;
	}

	.results .photo {
		width: 180px;
	}

	.results .about {
		margin-left: 16px;
		max-width: 385px;
		width: calc(100% - 196px);
	}
}

@media (min-width: 880px) {
	.results .description {
		font-size: 13px;
		line-height: 1.3;
	}

	.results .description p {
		margin-top: 8px;
	}

	.results button.details,
	.results .about .generics {
		display: none;
	}

	.results .generics {
		display: block;
	}
}

@media (min-width: 1004px) {
	.status {
		margin: 8px 70px 0 309px;
	}

	.results {
		margin: 45px 70px 60px 42px;
	}

	.results h2 {
		font-size: 28px;
	}

	.results .producer {
		font-size: 12px;
	}

	.results .description {
		font-size: 13px;
		margin-top: 14px;
	}

	.results .photo {
		margin-top: -3px;
		width: 240px;
	}

	.results .about {
		margin-left: 27px;
		width: calc(100% - 267px);
	}

	.results .generics {
		margin-top: 8px;
	}

	.results .generics h3 {
		font-size: 18px;
	}
}


@media (min-width: 1200px) {
	.results .about {
		max-width: 542px;
	}

	.results .generics {
		margin-left: 40px;
	}
}