.wrapper {
	background: #f8fbff url('../i/bg-pattern.jpg');
	min-height: 384px;
	height: 100%;
}

main {
	min-width: 320px;
	padding-bottom: 25px !important;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
}

.site-logo img {
	box-sizing: border-box;
	display: block;
	height: 39px;
	margin: 0 auto;
	padding-left: 1.5%;
	width: 197px;
}

.site-logo .about {
	color: #092C35;
	display: block;
	font: 13px/1.5 "Arial", sans-serif;
	text-align: center;
}

form.search {
	margin: 20px 8% 0;
}

form.search:after {
	clear: both;
	content: '';
	display: block;
}

form.search input {
	-moz-appearance: textfield;
	-webkit-appearance: textfield;
	border: 2px solid #007EFF;
	box-sizing: border-box;
	display: block;
	font: 13px "Arial", sans-serif;
	height: 36px;
	padding: 0 8px;
	width: 100%;
}

form.search input::-webkit-search-decoration,
form.search input::-webkit-search-cancel-button,
form.search input::-webkit-search-results-button,
form.search input::-webkit-search-results-decoration {
	display: none;
}

form.search div.awesomplete {
	position: relative;
}

form.search .example {
	color: #447075;
	float: left;
	font: 11px/1.5 "Arial", sans-serif;
	margin-top: 8px;
	max-width: 140px;
}

form.search .example .pseudo {
	border-bottom: 1px dotted rgba(14,41,78,0.5);
	color: #0E294E;
	cursor: pointer;
}

form.search .example .pseudo:hover {
	opacity: 0.9;
}

form.search button.submit {
	background: #007EFF;
	color: white;
	cursor: pointer;
	float: right;
	font-size: 12px;
	margin-top: 8px;
	padding: 8px 17px;
	transition: background 0.2s;
}

form.search button.submit:hover {
	background: #006EDE;
}

footer {
	background: rgba(241,241,241,0.55);
}

@media (min-width: 384px) {
	form.search .example {
		font-size: 12px;
		max-width: 180px;
	}

	form.search button.submit {
		padding: 8px 20px;
	}
}

@media (min-width: 568px) {
	.site-logo img {
		height: 50px;
		width: 256px;
	}

	.site-logo .about {
		font-size: 14px;
	}

	form.search {
		margin-top: 25px;
	}

	main {
		left: 50%;
		margin-left: -284px;
		width: 568px;
	}
}

@media (min-width: 768px) {
	main {
		padding-bottom: 0 !important;
	}
}