.status {
	color: #555;
	font: 10px sans-serif;
	margin: 7px 15px 0 12px;
}

.results {
	margin: 20px 15px 20px 12px;
}

.results .item {
	margin-top: 45px;
}

.results .item:first-child {
	margin-top: 0;
}

.results .item:after {
	clear: both;
	content: '';
	display: block;
}

.results h2 {
	font: normal 22px "Arial", sans-serif;
}

.results h2 a {
	color: black;
	text-decoration: none;
}

.results h2 a:hover {
	text-decoration: underline;
}

.results h2.unavailable a {
	color: #555;
}

.results .producer {
	color: #444;
	font: 11px sans-serif;
}

.results .description {
	color: #222;
	font-family: sans-serif;
	font-size: 12px;
	margin-top: 11px;
}

.results .description p {
	margin-top: 5px;
}

.results .description p:first-child {
	margin-top: 0;
}

.results .description p.main {
	box-sizing: border-box;
	overflow: hidden;
	position: relative;
}

.results .description p.main.overflow,
.results .generics ul.overflow {
	padding-bottom: 20px;
}

.results .description p.main.overflow:after,
.results .generics ul.overflow:after {
	background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	bottom: 0;
	content: '';
	height: 20px;
	left: 0;
	position: absolute;
	right: 0;
}

.results .description a {
	color: #15C;
	text-decoration: none;
}

.results .description a:hover {
	text-decoration: underline;
}

.results .description a.more {
	font-size: 90%;
}

.results button.details {
	background: #007EFF;
	color: white;
	cursor: pointer;
	font-size: 12px;
	margin-top: 16px;
	padding: 8px 17px;
	transition: background 0.2s;
}

.results button.details:hover {
	background: #006EDE;
}

.results .no-generics {
	color: #4C4C4C;
	font: 12px "Arial", sans-serif;
	margin-top: 16px;
}

.results .photo {
	display: none;
}

.results .photo img {
	height: auto;
	width: 100%;
}

.results .generics {
	display: none;
	float: left;
	margin: 7px 0 0 25px;
}

.results .generics h3 {
	color: #222;
	font: normal 18px "Arial", sans-serif;
}

.results .generics ul {
	box-sizing: border-box;
	list-style: none;
	margin-top: 15px;
	overflow: hidden;
	position: relative;
}

.results .generics li {
	font: 14px/1.3 sans-serif;
	margin: 5px 0;
}

.results .generics li:nth-child(n+7) {
	display: none;
}

.results .generics li:first-child {
	margin-top: 0;
}

.results .generics a {
	color: #15C;
	text-decoration: none;
}

.results .generics a:hover {
	text-decoration: underline;
}

.results .generics .folded {
	color: #222;
	font: 12px/1.3 sans-serif;
	margin-top: 2px;
}

.results .generics .empty {
	color: #555;
	font: 14px/1.3 "Arial", sans-serif;
	margin-top: 15px;
}

.results .about .generics {
	display: block;
	float: none;
	margin: 23px 0 0;
}

.results .about .generics h3 {
	color: #222;
	font: bold 16px "Arial", sans-serif;
}

.results .about .generics ul {
	margin-top: 10px;
	max-height: none;
}

.results .about .generics li {
	font-size: 13px;
	margin: 4px 0;
}

.results .about .generics li:nth-child(n+7) {
	display: block;
}

.results .about .generics .folded {
	display: none;
}

.results .about .generics .empty {
	font-size: 13px;
	margin-top: 10px;
}

.pagination {
	font: 14px "Arial", sans-serif;
	display: block;
	list-style: none;
	margin-top: 55px;
}

.pagination:after {
	clear: both;
	content: '';
	display: block;
}

.pagination li {
	float: left;
}

.pagination li a,
.pagination li span {
	color: black;
	display: block;
	padding: 8px 12px;
	text-decoration: none;
}

.pagination li a:hover {
	background-color: #ddd;
}

.pagination li.active span {
	background: #007EFF;
	color: white;
}

.pagination li.prev,
.pagination li.next {
	display: none;
	text-align: center;
	width: 32px;
}

.pagination li.prev {
	margin-left: -32px;
}

.pagination li.prev span,
.pagination li.next span {
	color: #aaa;
}

@media (min-width: 480px) {
	.status {
		margin: 7px 18px 0 calc(30% + 5px);
	}

	.results {
		margin: 24px 18px 20px 15px;
	}

	.results .photo {
		display: block;
		float: left;
		width: 28%;
	}

	.results .about {
		float: left;
		margin-left: 2%;
		width: 70%;
	}

	.pagination {
		margin-left: 30%;
	}

	.pagination li.prev,
	.pagination li.next {
		display: block;
	}
}

@media (min-width: 666px) {
	.status {
		margin-left: 211px;
	}

	.results .photo {
		width: 180px;
	}

	.results .about {
		margin-left: 16px;
		max-width: 385px;
		width: calc(100% - 196px);
	}

	.pagination {
		margin-left: 196px;
	}
}

@media (min-width: 880px) {
	.results .description {
		font-size: 13px;
		line-height: 1.3;
	}

	.results .description p {
		margin-top: 8px;
	}

	.results button.details,
	.results .no-generics,
	.results .about .generics {
		display: none;
	}

	.results .generics {
		display: block;
	}
}

@media (min-width: 1004px) {
	.status {
		margin: 8px 70px 0 309px;
	}

	.results {
		margin: 45px 70px 60px 42px;
	}

	.results h2 {
		font-size: 28px;
	}

	.results .producer {
		font-size: 12px;
	}

	.results .description {
		font-size: 13px;
		margin-top: 14px;
	}

	.results .photo {
		margin-top: -3px;
		width: 240px;
	}

	.results .about {
		margin-left: 27px;
		width: calc(100% - 267px);
	}

	.results .generics {
		margin-top: 8px;
	}

	.results .generics h3 {
		font-size: 20px;
	}

	.pagination {
		margin-left: 267px;
		margin-top: 70px;
	}
}


@media (min-width: 1200px) {
	.results .about {
		max-width: 542px;
	}

	.results .generics {
		margin-left: 40px;
	}
}